  #botPromoStrip { border: 1px solid #CCC; border-top: 2px solid #08315a; margin: 5px 0; padding:10px 10px 0 10px; }

  #botPromoStrip .colThree { float: left; }
  #botPromoStrip .colThree .col1 { width: 205px; float: left; padding-bottom:10px; }
  #botPromoStrip .colThree .col2 { width: 205px; float: left; padding-bottom:10px; }
  #botPromoStrip .colThree .col3 { width: 191px; float: left; padding-bottom:10px; }
  #botPromoStrip .colThree .colWrapper { padding-right: 15px; }
  #botPromoStrip .colThree .col3 .colWrapper { padding: 0; }

  #botPromoStrip .colTwo { float: left; }
  #botPromoStrip .colTwo .col1 { width: 309px; float: left; padding-bottom:10px; }
  #botPromoStrip .colTwo .col2 { width: 292px; float: left; padding-bottom:10px; }
  #botPromoStrip .colTwo .col1 .colWrapper { padding-right: 20px; }
  #botPromoStrip .colTwo .col2 .colWrapper { padding: 0; }

  #botPromoStrip h2 { color: #C00; font: bold 12px Arial, Helvetica, sans-serif; padding: 0; margin: 0 0 8px 0; }
  #botPromoStrip h3 { margin: 0; padding: 0; color: #333; font: normal bold 11px/14px Arial, Helvetica, sans-serif; }
  #botPromoStrip img { float: right; padding: 2px 0 0 7px; }
  #botPromoStrip p { margin: 0; padding: 0; color: #333; font: normal 11px/14px Arial, Helvetica, sans-serif; }
  #botPromoStrip ul    { list-style: none; margin: 2px 0 0 0; padding: 0; }
  #botPromoStrip ul li { background: transparent url('http://media.washingtonpost.com/wp-srv/shared/gr/dk_gray_bullet.gif') no-repeat 0 0.5em; padding: 0 0 0 .75em; 
                         margin: 0; font: 11px/14px Arial, Helvetica, sans-serif; }
  #botPromoStrip .clearboth { clear: both; }
  #botPromoStrip a:link, #botPromoStrip a:visited { color: #0c4790; text-decoration: none; }
  #botPromoStrip a:hover, #botPromoStrip a:active { color: #C00; text-decoration: underline; }