/***************** Article Page Stuff *****************/
/*.article_title {font-family:'Droid Serif', Times, serif;font-size:36px;line-height:38px;font-weight: normal;color:#000;float:left;width:100%;text-decoration:none;padding-bottom:10px;margin: 0px;}*/
.article_title { color: #000000; float: left; font-family: 'Droid Serif',Times,serif; font-size: 36px; font-weight: normal; line-height: 38px; margin: 0; padding-bottom: 10px; text-decoration: none; width: 100%; }
.by_author {color: #000000;display: block;float: left;font-family: "Droid Serif",Times,serif;font-size: 11px;line-height: 12px;padding-bottom: 10px;text-decoration: none;}
.date-headers{display:block;font-family:"Droid Serif", Times, serif;font-size:14px;position:relative;color:#000;float:left;height:45px;width:100%;text-decoration:none;text-transform:uppercase;text-align:left;border-bottom-style:solid;border-top-style:solid;border-width:1px;border-color:#666;margin-top:10px;margin-bottom:25px;}
.article_date {height:45px;text-align:center;width:112px;right:0px;top:20px;}
.share{width:32px;height:32px;display:block;border:0;float:right;margin-left:3px;}
.article_day {font-size:37px;font-weight:bold;
line-height:45px;display: block;width:50px;position: absolute;top:0;left:0;height:45px;border-right: 1px solid #999;color: #666;text-align: center;}
.article_month {display:block;font-size:17px;left:50px;line-height:1em;position:absolute;text-transform:uppercase;top:7px;width:50px;color: #666;text-align: center;}
.article_year{display:block;font-size:14px;font-weight:bold;left:50px;letter-spacing:1px;line-height:18px;position:absolute;top:21px;width:50px;text-align: center;color: #666;}
.fb-like{display:block;line-height:36px;height:32px;position:absolute;top:14px;left:220px;}
.twit-like{display:block;line-height:36px;height:32px;position:absolute;top:14px;left:110px;}
.article_content_text {float:left; width:600px; font-size:11px;line-height:15px;margin-bottom:8px;clear: both;  color: #666666; font-family: Verdana,Geneva,sans-serif; }
.article_content_text p {}
.article_content_text p img { padding:3px; /*border:1px solid #103d5a;*/ }
.article_content_text ul { list-style-position:inside;margin:10px 0; padding:0 0 0 25px; }
.article_content_text ul li { margin:0; padding:0; }
.article_content_text ul li a { text-decoration:none; color:#8B1722; }
.article_next_prev { float:left; width:612px; padding:10px 0; margin-top:10px; }
.article_next_prev a { text-decoration:none; }
.img_caption { font-size:11px; line-height:15px; }
.img_caption p { padding:0 10px; margin:0; }
.left { padding-right:18px; }
.right { padding-left:18px; }
.sponsored_by_img { padding-right:3px; padding-top:4px; text-align: right; float:right; width:404px; height:57px; padding-right:10px;  padding-left:3px; }
.section-front-main-image { padding-bottom:10px; padding-right:10px; width:356px; height:240px; float:left; }
.section_front_main_Article_teaser { font-family: 'times New Roman', 'Times Georgia'; font-size: 12px; padding-top: 10px; padding-bottom: 10px;}
.section_front_Featured_Article {font-family: 'times New Roman', 'Times Georgia'; letter-spacing:5px; font-size: 12px;}
.section_front_more_articles_header {font-family: 'times New Roman', 'Times Georgia'; font-weight: bold; font-size: 18px;}
/***************** Article Page Stuff *****************/

/*
.album_overall{ width:614px; float:left; border:1px solid #5B6857; border-bottom:none; }
.album_cont{ width:572px; _width:574px; float:left; margin:1px; _margin:0px; padding:25px 20px; font-size:11px; color:#FFFFFF; background-image:url('/images/site/article-titlebg.jpg'); background-repeat:repeat-x; background-color:#080806; }
.album_cont div{ width:100%; float:left; }
.album_disp{ font-size:14px; font-weight:bold; }
.album_disp a,.album_disp a:visited{ color:#FFFFFF; text-decoration:none; }
.album_title h1{ font-size:32px; margin:0px; padding:0px; line-height:32px; }
.album_time{ padding-top:3px; }
.article_info{
  width:100%;
  _width:93%;
  float:left;
  }
.article_info p{ line-height:20px; }
.album_cshare{ width:100%; float:left; color:#000000; font-size:14px; font-weight:bold; padding:15px 0px; border-top:1px solid #666666; border-bottom:1px solid #666666; margin-top:30px; }
*/

/***************************** Album Comments *****************************/
.album_comments{ width:100%; float:left; }
.ac_title{ width:554px; float:left; padding:15px 10px 9px; background-image:url('/images/site/social/comments-titlebg.jpg'); background-repeat:repeat-x; }
.ac_commimg{ width:auto; float:left; }
.ac_commtext{ width:auto; float:right; color:#FFFFFF; font-size:14px; padding-top:5px; }
.ac_commtext span a{ font-size:15px; font-weight:bold; color:#FFFFFF; text-decoration:none; }
.ac_commtext span{ font-size:15px; }
.ac_info{ width:554px; float:left; padding:10px 10px 0px; background-image:url('/images/site/social/comments-bg.jpg'); background-repeat:repeat-x; background-color:#000000; }
.ac_postopt{ width:100%; float:left; color:#FFFFFF; }
.ac_postcomm{ width:auto; float:left; font-size:14px; font-weight:bold; }
.ac_postbu{ width:auto; float:right; font-size:14px; padding-bottom:10px; }
.ac_sortby{ width:auto; float:left; padding:3px 10px 0px 0px; font-weight:bold; }
.ac_sortbuttons{ width:298px; float:left; text-align:center; color:#FFFFFF; font-size:12px; font-weight:bold; }
.ac_sortbuttons div{ width:94px; float:left; padding:3px 0px; margin-right:5px; .margin-right:2px; background-color:#000000;  border:1px solid #000000; cursor:pointer; }
.ac_sortbuttons a{ color:#FFFFFF; text-decoration:none; }
.ac_sortbuttons div:hover{ background-color:#FFFFFF !important; color:#000000; }
.ac_sortlast{ margin-right:0px !important; }
.ac_sortselect{ background-color:#FFFFFF !important; color:#000000; }
.ac_comments{ width:100%; float:left; padding:4px 0px 10px; }
.ac_commbox{ width:534px; float:left; padding:10px; background-color:#FFFFFF; color:#000000; margin-bottom:15px; }
.ac_usercont{ width:100%; float:left; }
.ac_usercont a{ color:#033266; text-decoration:none; }
.ac_userimg{ width:60px; float:left; padding-right:10px; }
.ac_usertext{ width:464px; float:left; padding-bottom:10px; }
.ac_text{ width:100%; float:left; padding-top:10px; }
.ac_username{ width:100%; float:left; font-size:11px; }
.ac_username div{ width:auto; float:left; }
.ac_username a{ font-weight:bold; }
.ac_usertime{ float:right !important; }
.ac_recommend{ width:100%; float:left; background-color:#f0f0f0; text-align:right; padding:3px 0px; font-size:11px; }
.ac_viewmore{ width:100%; float:left; font-size:11px; padding-top:10px; }
.ac_viewmore img{ margin:0px 0px -1px; }
.article_text { color: #000000; }

/**************************************************************************/

/**************************** Bottom Album ********************************/
.album_bottom{ width:574px; height:36px; margin-bottom:20px; float:left; padding:20px 20px 0px; border:1px solid #5B6857; border-top:none; background-image:url('/images/site/bottom-aboutbg.jpg'); background-repeat:repeat-x; }
.album_bottom div{ width:auto; float:right; }
.album_bleft{ float:left !important; }
/**************************************************************************/

/************************* Related Links *************************************/
.rls_cont{ width:614px; float:left; }
.rls_subcont{ width:614px; float:left; padding:0px 0px 20px; }
.rls_row{ width:192px; height:128px; float:left; }
.rls_row a{ cursor:pointer; text-decoration:none; }
.rls_rspace{ padding-right:19px; }
.rls_img{ width:100%; float:left; }
.rls_text{ float:left; width:172px; height:30px; font-size:17px; line-height:18px; padding:2px 10px 10px 10px; overflow:hidden; background:url('/images/site/trans-black.png'); position:relative; top:-42px; .top:-45px; color:#ffffff; _background-image:none; display:inline-block; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/site/trans-black.png', sizingMethod='scale'); }
.rls_text span{ height:25px; overflow:hidden; font-size:12px; font-weight:normal; line-height:13px; padding-top:3px; display:block; }
