/* 
Copyright 2012, VibrantMedia, Inc. Version 3.3.03.04
*/
@media screen
{
div#picad_resource_container img#picad_icon
{
	position:absolute; 
	left: 0px;
	border: 0px;
	z-index:9000;
}
div#picad_div
{
	z-index:10003;
	display:block; 
	position:absolute; 
	padding: 0px;
	margin: 0px;
	text-shadow: none;
}
#picad_overlay_div {
	position: relative; 
	font-family: Arial, verdana, arial,sans-serif;
	font-size: 10px;
	width: 0px; 
	color: #FFFFFF;
	background-color: none; 
	text-align: left;
	overflow: hidden !important;
	padding: 0px;
	margin: 0px;
}
#picad_overlay_div #picad_overlay_holder {
	margin: 0px;
	padding: 0px;
	overflow: hidden !important;
	border: 0px;
}
#picad_overlay_div #picad_overlay_holder #ism_ol_holder_ad {
	background-color: #000000; 
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden !important;
	line-height: 1.5em;
	zoom:1;
	filter:alpha(opacity=80);
	opacity: 0.80;
	-moz-opacity:0.80;
}
#picad_overlay_div #picad_overlay_holder #ism_ol_holder_ad #ism_ol_img_holder {
	margin: 0px;
	padding: 1px 0px 1px 1px;
	float: left;
	overflow: hidden !important;
}
#picad_overlay_div #picad_overlay_holder #ism_ol_holder_ad #ism_ol_txt_holder {
	margin: 0px;
	padding: 0px;
	overflow: hidden !important;
	height:60px;
	position: relative;
}
#ism_ol_holder_ad a,
#ism_ol_holder_ad a:link,
#ism_ol_holder_ad a:active,
#ism_ol_holder_ad a:visited,
#ism_ol_holder_ad a:hover {
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: 0px !important;
	margin: 0px !important;
	font-size: 11px;
	background: none;
}
#ism_ol_holder_ad dt {
	clear: none;
	float: none;
	background: none !important;
	width: auto;
	text-decoration: none !important;
	text-align: left;
	display: block !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	border: none !important;
}
#ism_ol_holder_ad dt.ol_title {
	overflow: hidden;
	margin: 1px;
	padding: 0px;
	height: 18px;
	position: absolute;
	top: 2px;
	left: 4px;
}
#ism_ol_holder_ad dt.ol_title .title {
	margin: 0px;
	padding: 0px 35px 0px 0px;
	height: 18px;
	font-weight: bold;
	font: bold 13px Arial !important;
	width: 600px;
	background: none;
	text-align: left;
}
#ism_ol_holder_ad dt.ol_title .title a {
	margin: 0px;
	padding: 0px;
	height: 18px;
}
#ism_ol_holder_ad dt.ol_title .title a,
#ism_ol_holder_ad dt.ol_title .title a:link,
#ism_ol_holder_ad dt.ol_title .title a:active,
#ism_ol_holder_ad dt.ol_title .title a:visited,
#ism_ol_holder_ad dt.ol_title .title a:hover {
	font-size: 13px;
}
#ism_ol_holder_ad dt.ol_content {
	overflow: hidden !important;
	margin: 1px;
	padding: 0px;
	height: 18px;
	position: absolute;
	top: 20px;
	left: 5px;
	font-size:11px;
}
#ism_ol_holder_ad dt.ol_content .content {
	margin: 0px;
	padding: 0px;
	height: 18px;
	font-size: 11px !important;
	background: none;
	display:block;
	overflow: visible;
	text-align: left;
	border: 0px;
}
#ism_ol_holder_ad dt.ol_content .content a,
#ism_ol_holder_ad dt.ol_content .content a:link,
#ism_ol_holder_ad dt.ol_content .content a:active,
#ism_ol_holder_ad dt.ol_content .content a:visited,
#ism_ol_holder_ad dt.ol_content .content a:hover {
	font-size: 11px !important;
	font-weight: normal !important;
	line-height: 1.3em;
}

#ism_ol_holder_ad dt.ol_url {
	overflow: hidden !important;
	margin: 1px;
	padding: 0px;
	height: 15px;
	color: #D9CF32 !important;
	padding-right: 35px;
	font-weight: normal;
	position: absolute;
	bottom: 1px;
	left: 4px;
	background: none;
	text-align: left;
}
#ism_ol_holder_ad dt.ol_url .url a {
	margin: 0px;
	padding: 0px;
	height: 15px;
}

#ism_ol_holder_ad dt.ol_url .url a,
#ism_ol_holder_ad dt.ol_url .url a:link,
#ism_ol_holder_ad dt.ol_url .url a:active,
#ism_ol_holder_ad dt.ol_url .url a:visited,
#ism_ol_holder_ad dt.ol_url .url a:hover {
	color: #D9CF32 !important;
	font-size: 11px;
	font-style: italic;
}

#ism_ol_holder_ad dt.ol_navigate {
	font-size: 11px;
	overflow: hidden !important;
	margin: 1px;
	padding: 0px;
	height: 14px;
	position: absolute;
	bottom: 2px;
	right: -1px;
	width: 35px;
}
#ism_ol_holder_ad dt.ol_navigate .navigate {
	overflow: hidden !important;
	margin: 0px;
	padding: 0px;
	height: 14px;
	width: 35px;
	position: absolute;
	top: 2px;
	right: 0px;
}
#ism_ol_holder_ad dt.ol_navigate .navigate a {
	padding: 0px;
	margin: 0px;
	width: 12px;
	height: 12px;
}
#ism_ol_holder_ad dt.ol_navigate .navigate a.prev {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/prev_off.png) 0 0 no-repeat;
	position: absolute;
	left: 3px;
	top: 0px;
}
#ism_ol_holder_ad dt.ol_navigate .navigate a.prev:hover {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/prev_on.png) 0 0 no-repeat;
}
#ism_ol_holder_ad dt.ol_navigate .navigate a.prev_disable {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/prev_disable.png) 0 0 no-repeat;
	position: absolute;
	left: 3px;
	top: 0px;
}

#ism_ol_holder_ad dt.ol_navigate .navigate a.next {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/next_off.png) 0 0 no-repeat;
	position: absolute;
	right: 3px;
	top: 0px;
}
#ism_ol_holder_ad dt.ol_navigate .navigate a.next:hover {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/next_on.png) 0 0 no-repeat;
}
/* info box */
.ism_info_v2 {
	position: static;	
}
.ism_info_v2 div div{
	z-index: auto;
}
.ism_info_v2 #close {
	position: absolute;
	width:12px;
	height:12px;
	background: url(http://cdn3.picadmedia.com/images/overlay/ISM_closebutton_12x12.png) no-repeat scroll 0 0 transparent;
}
.ism_info_v2 #ad {
	position:absolute;
	width:15px;
	height:12px;
	color:#999; 
	font-size:9px;
	letter-spacing:2px;
	line-height:1.5em;
}

#picad_overlay_div #picad_overlay_holder #ism_ol_holder_info,
#picad_overlay_div #picad_overlay_holder #ism_fd_holder_ad
{
	margin: 0px;
	padding: 1px;
	overflow: hidden !important;
}

/* minimized ad */
#picad_overlay_div #picad_overlay_holder #ism_ol_holder_ad #ism_ol_min_holder {
	margin: 0px;
	padding: 0px 0px 0px 3px;
	height: 20px;
	overflow: hidden !important;
}
#ism_ol_min_holder dt.ol_min_title .title {
	margin: 0px;
	padding: 0px 70px 0px 2px;
	font: bold 13px Arial !important;
	height: 18px;
	overflow: hidden !important;
	background: none;
}
#ism_ol_min_holder dt.ol_min_title .title a,
#ism_ol_min_holder dt.ol_min_title .title a:link,
#ism_ol_min_holder dt.ol_min_title .title a:active,
#ism_ol_min_holder dt.ol_min_title .title a:visited,
#ism_ol_min_holder dt.ol_min_title .title a:hover {
	font-size: 13px;
	font-weight: bold;
}
#ism_ol_min_holder dt.ol_min_title .info {
	margin: 0px;
	padding: 0px;
	height: 16px;
	width: 68px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: none;
	border: 0px;
}
#ism_ol_min_holder dt.ol_min_title .info a {
	padding: 1px;
	position: absolute;
	top: 2px;
	height: 12px;
}
#ism_ol_min_holder dt.ol_min_title .info a.ads_by_ism_ie6  {	
	position: absolute;
	font-family: Arial, verdana, arial,sans-serif;
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: 0px !important;
	font-size: 10px;
	top: 0px;
	margin: 0px 0px 0px 4px;
	width: 60px;
	left: 0;
}
#ism_ol_min_holder dt.ol_min_title .info a.ads_by_ism  {	
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/AdsbyISM_off.png) 0 0 no-repeat;
	margin: 0px 0px 0px 4px;
	width: 60px;
	left: 0px;
}
#ism_ol_min_holder dt.ol_min_title .info a.ads_by_affinity  {	
	background:transparent url(http://cdn3.picadmedia.com/images/affinity/Adsbyaffinity.png) 0 0 no-repeat;
	margin: 0px 0px 0px 4px;
	width: 75px;
	left: 0;
}
#ism_ol_min_holder dt.ol_min_title .info a.ads_by_ism:hover {	
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/AdsbyISM_on.png) 0 0 no-repeat;
}
#ism_ol_min_holder dt.ol_min_title .info a.psa_by_ism {	
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/PSAbyISM_off.png) 0 0 no-repeat;
	margin: 0px 0px 0px 4px;
	width: 60px;
	left: 0px;
}
#ism_ol_min_holder dt.ol_min_title .info a.psa_by_ism:hover {	
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/PSAbyISM_on.png) 0 0 no-repeat;
}
#ism_ol_min_holder dt.ol_min_title .info a.close_ie6
{
	position: absolute;
	font-family: Arial, verdana, arial,sans-serif;
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: 0px !important;
	font-size: 9px;
	top: 1px;
	margin: 0px 0px 0x 2px;
	height: 12px;
	width: 12px;
	right: 0px;
}
/* rich media */
#picad_overlay_div #picad_overlay_holder #ism_fd_holder_ad {
	margin: 0px;
	padding: 0px;
	overflow: hidden !important;
	line-height: 1.2em;
}
#ism_fd_holder_ad img {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	overflow: hidden !important;
}

#ism_fd_holder_ad a,
#ism_fd_holder_ad a:link,
#ism_fd_holder_ad a:active,
#ism_fd_holder_ad a:visited,
#ism_fd_holder_ad a:hover {
	margin: 0px;
	padding: 0px;
	color: #555 !important;
	text-decoration: none !important;
	border: 0px !important;
	font-size: 10px;
}
#ism_fd_holder_ad iframe{
	z-index:auto;
}
/* unit 300x250 */
#ism_fd_300_header  {
	margin:0px; 
	padding:0px; 
	height:18px; 
	width:300px; 
	font-family: Arial, verdana, arial,sans-serif;
}
#ism_fd_300_header #ism_fd_iframe_rm {
	margin:0px; 
	padding:0px; 
	float:left; 
	color:#DDD; 
	font-size:12px;
}
#ism_fd_300_header #ism_fd_iframe_close {
	margin:0px; 
	padding:0px; 
	float:right; 
	color:#DDD; 
	font-size:12px;
}
#ism_fd_300_header #ism_fd_iframe_close a,
#ism_fd_300_header #ism_fd_iframe_close a:link,
#ism_fd_300_header #ism_fd_iframe_close a:active,
#ism_fd_300_header #ism_fd_iframe_close a:visited {
	margin: 0px;
	padding: 0px;
	color: #DDD !important;
	text-decoration: none !important;
	border: 0px !important;
	font-size: 12px;
}
#ism_fd_300_header #ism_fd_iframe_close a:hover {
	color: #FFF !important;
}
#ism_fd_300_footer {
	margin:0px; 
	padding:0px; 
	height:18px; 
	width:300px; 
	margin: 2px 0px 0px 0px;
}
#ism_fd_300_footer div#ism_fd_300_adv {
	width:100px; 
	float:left; 
	color:#DDD; 
	font-size:11px;
	padding-left:2px;
}
#ism_fd_300_footer a {
	float:right; 
	color:#DDD; 
	font-size:12px;
}
#ism_fd_300_footer a.pwd_by_ism {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/PoweredByISM_on.png) 0 0 no-repeat;
	width: 80px;
	height: 12px;
}
#ism_fd_300_footer a.pwd_by_ism:hover {	
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/PoweredByISM_off.png) 0 0 no-repeat;
}

#ism_fd_300_footer a.ads_by_ism_ie6  {	
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: 0px !important;
	width: 60px;
	height: 12px;
}
#ism_fd_300_footer a.psa_by_ism {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/PSAbyISM_off.png) 0 0 no-repeat;
	width: 60px;
	height: 12px;
}
#ism_fd_300_footer a.ads_by_ism {
	background:transparent url(http://cdn3.picadmedia.com/images/overlay/AdsbyISM_off.png) 0 0 no-repeat;
	width: 60px;
	height: 12px;
}
/* share this */
#picad_share_holder #ism_share_this_btn {
	width:40px;
	height:40px;
	border: 0px none;
	position:absolute;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	z-index:11100;
	filter:alpha(opacity=90);
	opacity: 0.90;
	-moz-opacity:0.90;
	background:transparent url(http://cdn3.picadmedia.com/images/share/share_off.png) 0 0 no-repeat;
}
#picad_share_holder #ism_share_this_btn:hover {
	border: 0px none;
	background:transparent url(http://cdn3.picadmedia.com/images/share/share_on.png) 0 0 no-repeat;
}

#picad_share_container div#ism_share_iframe {
	position:absolute; 
	top:0px; 
	left:0px;
	width:100%;
	height:100%;
	min-height:200px;
	z-index:120001;
}
#picad_share_container div#ism_share_bg
{
	background-color: rgb(0, 0, 0); 
	filter:alpha(opacity=80);
	opacity: 0.80;
	-moz-opacity:0.80;
	position:absolute; 
	left:0; 
	top:0; 
	z-index:120000;
}
#picad_share_container div#ism_share_close_btn a{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 75px;
	height: 20px;
	background: url(http://cdn3.picadmedia.com/images/share/close_off.gif) no-repeat scroll 0 0 transparent;
}
#picad_share_container div#ism_share_close_btn a:hover {
	background: url(http://cdn3.picadmedia.com/images/share/close_on.gif) no-repeat scroll 0 0 transparent;
}
}
@media print
{
	div#picad_resource_container { display:none; }
}